img { 
	border: 1px solid violet;
	padding: 3px;
	width: 200px;
	height: 170px;
	margin-right: 5px;
}
h1 {
	text-align: center;
	margin-top: -10px;
}
ul {
	margin-left: 22%;
	margin-right: 20%;
}
li{
	list-style: none;
    float: left;
    margin: 4px;
    position: relative;
}
