img { 
	border: 1px solid green;
	padding: 5px;
	width: 200px;
	height: 170px;
	margin-right: 5px;
}
h1, p {
	text-align: center;
}
ul {
	margin-left: 25%;
	margin-right: 25%;
}
li{
	list-style: none;
    float: left;
    margin: 5px;
    position: relative;
}
